
body {
    height: 100vh;
    margin: 0rem;
    overflow: hidden;
    display: grid;
    place-items: center;
  }
  
  main{
    background-color: white;
    background-position: center 0%;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 2;
    transition: transform 500ms cubic-bezier(.13, .53, .38, .97);

    display: flex;
    justify-content: center;
    align-items: center;
  }
  



a {
    text-decoration: none;
}

.fancy > .letter {
    display: inline-block;
    transition: transform 350ms ease;
}

.fancy:hover > .letter {
    transition-duration: 800ms;}

.line {
    display: flex;
    justify-content: space-between;
  }

.word {
  color: black;
  font-size: clamp(2rem, 8vw, 10rem);
  font-family: "Major Mono Display", monospace;
  margin: 0rem;
  transition: opacity 250ms ease;
}

#text:has(.fancy:hover) .word:not(.fancy:hover) {
    opacity: 0.2;
  }
  
.fancy:hover > .letter:nth-child(1) {
    transform: translate(-80%, 60%) rotate(8deg);
}
  
.fancy:hover > .letter:nth-child(2) {
    transform: translate(-40%, 20%) rotate(4deg);
}
  
.fancy:hover > .letter:nth-child(3) {
    transform: translate(-10%, 60%) rotate(-6deg);
}
  
.fancy:hover > .letter:nth-child(4) {
    transform: translate(0%, 8%) rotate(-8deg);
}
  
.fancy:hover > .letter:nth-child(5) {
    transform: translate(0%, -20%) rotate(5deg);
}
  
.fancy:hover > .letter:nth-child(6) {
    transform: translate(0%, 20%) rotate(-3deg);
}
  
.fancy:hover > .letter:nth-child(7) {
    transform: translate(0%, -40%) rotate(-5deg);
}
  
.fancy:hover > .letter:nth-child(8) {
    transform: translate(0%, 15%) rotate(10deg);
}
  
.fancy:hover > .letter:nth-child(9) {
    transform: translate(0%, -50%) rotate(8deg);
}
  
.fancy:hover > .letter:nth-child(10) {
    transform: translate(0%, 15%) rotate(-6deg);
}
  
.fancy:hover > .letter:nth-child(11) {
    transform: translate(50%, -10%) rotate(-3deg);
}
  
.fancy:hover > .letter:nth-child(12) {
    transform: translate(120%, -30%) rotate(-10deg);
}




#image-track > .image{
    /* width: max(20vw, 400px);
    aspect-ratio: 1.8 / 1;
    border-radius: 0.25rem;
    margin-top: 0.75rem;
    object-fit: cover; */

    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    padding-bottom: 100px;
    object-position: 100% center;
    transition: object-position 0.5s ease-in-out;

}


/*Inner Wrapper*/
nav { 
    height: 50vh;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 1;
    background-color: black;
    overflow: hidden;
  
}

/*Outer Wrapper*/
nav > #image-track {
    display: flex;
    gap: clamp(1rem, 2vw, 2rem);
    margin-top: clamp(2rem, 2vw, 3rem);
    padding: 0rem clamp(1rem, 2vw, 2rem);
    transform: translateY(70%) scale(0.9);
    transform: translateX(-50%, -50%);

    transition: transform 500ms cubic-bezier(.13, .53, .38, .97); 

    user-select: none;
}

